#game {
  display: grid;
  justify-items: center;
}

#center {
  display: grid;
  grid-template-columns: auto 1fr;
}


#tablero {
  display: grid;
  grid-template: ". x "
                 "y mapa ";
}
#tablero .mapa {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
  grid-area: mapa;

}

.axis {
  display: grid;
  justify-items: center;
  align-items: center;
}
.x-axis {
  grid-area: x;
  grid-auto-flow: column;
  margin-bottom: 10px;
}

.y-axis {
  grid-area: y;
  grid-auto-flow: row;
  margin-right:10px
}


.celda {
  width: 50px;
  height: 50px;
  background-color: skyblue;
  border: solid 2px white;
}

.celda.over {

}

.nave {
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 5px;
}

.portaviones {
  background-color: gray;
}

.fragata {
  background-color: gold;
}
.crucero {
  background-color: green;
}
.destructor {
  background-color: red;
}

.positioned {
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hide {
  display:none
}
.show {
  display: block;
}

.selectable {
  border: 2px solid green;
  cursor: pointer;
}
